[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
forex-python = ">=1.8"
matplotlib = ">=3.6.1"
pandas = ">=1.5"
peewee = ">=3.15.3"
yahoo-historical = ">=1.0.0"
pillow = ">=9.2"
urllib3 = ">=1.26.12"

[dev-packages]
black = "*"
ipython = "*"
isort = "*"
pudb = "*"
pytest = "*"
pytest-pudb = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
